<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Examen Validación de Contraseñas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <ion-item>
    <ion-label position="floating"> Ingresar Contraseña</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="password"
      required
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="confirmPassword"
      required
    ></ion-input>
  </ion-item>

  <ion-button expand="block" color="success" (click)="validatePasswords()">
    Validar Contraseña
  </ion-button>

  <div *ngIf="message" [style.color]="isMatch ? 'green' : 'red'">
    {{ message }}
  </div>
</ion-content>

